{% extends "base.html" %}
{% load static %}

{% block title-page %} Aplicar Formulário {% endblock %}

{% block title-navbar-page %} Aplicar Formulário {% endblock %}

{% block extra-css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/sweetalert2.min.css' %}">
<style>
  .btn-arrow{
    padding:0px !important;
  }
  input[type="checkbox"]{
    width: 18px !important;
    height: 18px !important;
  }
  .btn-action{
    font-size: 16px;
  }
  label.label-option{
    font-weight: initial;
  }
</style>
{% endblock %}

{% block content %}
<div class="row">
 <div class="col-md-12">
  <div class="card">
    <div class="header">
      <h5 class="title">{{form.title}}</h5>
      <p class="category" style="text-align:justify;">{{form.description}}</p>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label>Quem será avaliado?</label>
            <select @change="loadAvaluateds()" v-model="type_evaluated"  class="form-control" data-style="btn btn-default btn-block">
              <option value="1">Coordenador de Polo</option>
              <option value="2">Coordenador de Curso</option>
              <option value="3">Professor</option>
              <option value="4">Professor Pesquisador</option>
              <option value="5">Professor Mediador</option>
              <option value="6">Tutor Presencial</option>
              <option value="7">Tutor EAD</option>
              <option value="8">Curso</option>
              <option value="9">Polo</option>
            </select><br/>
            <select v-model="avaluated"  class="form-control" data-style="btn btn-default btn-block">
              <option value="" disabled selected>Selecione uma opção</option>
              <template v-for="ao in avaluated_options">
                <option :value="ao.value">${ao.display}</option>
              </template>
            </select>
          </div>
          <div class="form-group">
            <label>Quem receberá um email para responder?</label>
            <select v-model="multiple" multiple class="form-control" data-style="btn btn-default btn-block">
              <option value="1">Coordenador de Curso</option>
              <option value="2">Coordenador de Curso</option>
              <option value="3">Coordenador de Curso</option>
              <option value="4">Coordenador de Curso</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div style="margin-top: initial;" >
           <input v-model="required_login" checked id="check_required_login" name="required_login" type="checkbox" value="1">
           <label  for="check_required_login">
            Obrigatório se identificar para responder
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block extra-modais %}
{% endblock %}

{% block extra-javascript %}
<script src="{% static 'assets/js/vue.js' %}"></script>
<script src="{% static 'assets/js/sweetalert2.min.js' %}"></script>

<script>
  var app = new Vue({
    el: '#app',
    delimiters: ['${', '}'],
    data: {
      type_evaluated:"1",
      required_login:true,
      multiple:[],
      avaluated_options:[
        {% for avaluated in coordinators_pole %}
          { 
            "value": "{{avaluated.pk}}",
            "display": "{{avaluated.pole.name}} - {{avaluated.docente.full_name}}", 
          },
        {% endfor %}
      ],
      avaluated:""
    },
    methods:{
      loadAvaluateds(){
        self = this
        $.ajax({
          url: "{% url 'load_avaluated_by_type' %}",
          type: "POST",
          data: {
            "type":self.type_evaluated,
            "csrfmiddlewaretoken":"{{csrf_token}}",
          },
          success: function (response) {
            self.avaluated = ""
            self.avaluated_options = response
          },
          error: function(jqXHR, textStatus, errorThrown) {
            swal({
              title:"Erro interno! ;(",
              text:"Aconteceu algum erro inesperado, tente novamente!",
              type:"error",
            })
          }
        });
      }
    },
    created(){
    }
  })
</script>
{% endblock %}
